body{
  background-color: white;
}
.container{
  width: 60%;
  height: 50%;
  margin: 50px auto;
  background-color: white;
}

.container .display-1,.lead{
  text-align: center;
}  
.container .display-1{
   font-size: 70px;
}
.container .lead{
  font-size: 30px;
  
}
.contact-box{
   background-color: #212529;
   
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
  margin-left: 20%;
  margin-right: 20%;
}


.contact-box h2{
  text-align: center;
  padding-top: 10%;
  color: white;
}


.container p{
  margin-bottom: 40px;
  
}






table{
    margin-top: 50px;
}
tr td:first-child{
  padding-right: 20px;
}

tr td{
  padding-top: 20px;
}


.contact-box ul{
position: relative;
margin-top: 15%;
margin-left: 55%;
/* margin-bottom: 30%; */
padding: 0;
transform: translate(-50%,-50%);
display: flex;
padding-bottom: 20px;
}


.contact-box ul li{
  list-style: none;
  margin: 0 10px;
}



.contact-box ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 60px;
  transition: .5s;
}

.contact-box ul li .fa:hover{
  color: #ffffff;
}


.contact-box ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.2s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0,0,0,0.5);

}

.contact-box ul li a:hover{
  transform: rotate(0deg) skew(0deg);
translate: (0,-10px);
}

.contact-box ul li:nth-child(1) a:hover{
  background-color: red;
}


.contact-box ul li:nth-child(2) a:hover{
  background-color: #000000;
}
.contact-box ul li:nth-child(3) a:hover{
  background-color:#1DA1F2;
}