body{
    background-color: beige;
}
.container{
    width: 60%;
    height: 50%;
    margin: 50px auto;
    background-color: beige;
  }

.container .display-1,.lead{
    text-align: center;
}  
 .display-1{
     font-size: 70px;
 }
.lead{
    font-size: 30px;
    
}
  .contact-box{
    background-color: white;
    display: flex;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
  }
  
  
  .left{
    flex-basis: 60%;
    padding: 50px 60px;
    background-color: #fff;
  }
  
  .right{
    flex-basis: 40%;
    padding: 50px;
    background-color: #212529;
    color: white;
  }
  
  
  h1{
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .container p{
    margin-bottom: 40px;
    
  }
  
  
  .input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .input-row .input-group{
    flex-basis: 45%;
  }
  
  
  input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
  }
  
  textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
  }
  
  label{
    margin-bottom: 6px;
    display: block;
    color: black;
  }
  
  .formbutton{
    background: #212529;
    width: 100px;
    border: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
    margin-left: 40%;
  
  }
  .left h3{
    color:black;
    font-weight: 600;
    margin-bottom: 30px;
  }
  

  .right h3 {
    font-size: 34px;
    font-weight: 600;
    margin-top: 45%;
    margin-bottom: 10px;
    text-align: center;
}


  
  table{
      margin-top: 50px;
  }
  tr td:first-child{
    padding-right: 20px;
  }
  
  tr td{
    padding-top: 20px;
  }

  
.right ul {
  position: relative;
  margin-top: 30%;
  margin-left: 52%;
  padding: 0;
  transform: translate(-50%,-50%);
  display: flex;
}

  
  .right ul li{
    list-style: none;
    margin: 0 10px;
  }
  


  .right ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 60px;
    transition: .5s;
}
  
  .right ul li .fa:hover{
    color: #ffffff;
  }
  
  
  .right ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.2s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0,0,0,0.5);
  
  }
  
  .right ul li a:hover{
    transform: rotate(0deg) skew(0deg);
  translate: (0,-10px);
  }
  
  .right ul li:nth-child(1) a:hover{
    background-color: red;
  }
  
  
  .right ul li:nth-child(2) a:hover{
    background-color: #000000;
  }
