{% extends 'base.html' %}
{% load static %}




{% block head %}
<script src="https://use.fontawesome.com/8ef3ce1ffd.js"></script>

<link rel="stylesheet" type="text/css" href="{%static 'CompEngineFeaturesWeb\css\contact.css'%}">


{% endblock head %}
{%block title%}
Comp-Engine-Features
{%endblock title%}

{% block body %}


<div class="container">
      <p class="display-1">Connect with us</h1>
      <hr>
      <p class="lead">Here is how you can reach us. </p>
      <div class="contact-box">
        <h2>Reach us</h2>
      
      <ul>
        <li> <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=ben.fulcher@sydney.edu.au"><i class="fa fa-envelope"></i></a></li>
      <li> <a target="_blank" href="https://github.com/NeuralSystemsAndSignals/Comp-Engine-Features"><i class="fa fa-github"></i></a></li>
      <li> <a target="_blank" href="https://twitter.com/compTimeSeries"><i class="fa fa-twitter"></i></a></li>
       </ul>
      </div>
    </div>

{% block JavaScript %}
<script src="https://use.fontawesome.com/8ef3ce1ffd.js"></script>
{% endblock JavaScript %}


{% endblock body %}