{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href={% static 'CompEngineFeaturesWeb\css\explore.css' %}>
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">

<style>
#pageloader
{
  background: rgb( 245, 245, 220);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}


#pageloader img
{
  left: 50%;
  margin-left: -32px;
  margin-top: -25px;
  position: fixed;
  top: 50%;
}
#pageloader p {
    margin-top: 18%;
    text-align: center;
}

</style>

{% endblock head %}

{% block body %}

<div id="pageloader">
<p class="display-4"><strong>This may take some time so sit back and relax.</strong></P>
<img src="{%static 'CompEngineFeaturesWeb\img\preloader.gif'%}">
</div>

<div class="container mt-2 mb-2">

<br><br>


<div class="container">
<div class="display-1" >Explore time series features</div>

<hr>
<p class="lead">{% lorem 1 b%}</p>

</div>

<table 

class="table-striped"
id="table"
data-toggle="table"
data-pagination="true"
data-filter-control="true"

data-height="700"
data-page-size="12"
data-page-list="[15,35,55,100]"
>

<thead class="thead-dark">

<tr>

      <th data-field="ID">S.No</th>
      <th data-field="Name" data-filter-control="input" data-filter-control-placeholder="Search by feature name">Feature Names</th>
      <th data-field="Keywords" data-filter-control="input" data-filter-control-placeholder="Search by Tags">Tags</th>
    </tr>
  </thead>
   <tbody>
        {% for i in data %}
      <tr>
          <td>{{i.ID}}</td>
          <td><a class="explorelink" href="/exploremode/{{i.ID}}/{{i.Name}}">{{i.Name}}</a></td>
          <td>{{i.Keywords}}</td>
         
      </tr>
        {% endfor %}
  </tbody>


</table>
</div>

{% block JavaScript %}

<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

<script>
$(function(){
  $('a.explorelink').click(function(){
    $("#pageloader").fadeIn();
  });
});

</script>

<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

{% endblock JavaScript %}
{% endblock body%}