{% extends 'base.html' %}
{% load static %}


{% block head %}

<link rel="stylesheet" type="text/css" href="{%static 'CompEngineFeaturesWeb\css\syntaxerror.css'%}">

{% endblock head %}



{% block body %}

<div class="container">
        <p class="display-2"><strong>Syntax Error</strong></p>
        <hr>
        <p class="lead">We have encountered syntax error while running your code.<br>Looks like your code is broken or syntactically incorrect. Please re-check your code and try again.</p>
        <button type="button" class="btn btn-dark btn-lg" ><a href="/" >Go Back</a></button>
      </div>


{% endblock body %}